
<form ng-submit="signup()" class="container" style="max-width:400px" >
<h2> Register form</h2>
<input ng-model="username" type="text" class="form-control" placeholder="username" required /><br />
<input ng-model="password" type="password" class="form-control" placeholder="password" required /><br />
<input ng-model="email" type="email" class="form-control" placeholder="email" required /><br />
<input ng-model="phone" type="text" class="form-control" placeholder="phoneNumber" required /><br />
<input ng-model="location" type="text" class="form-control" placeholder="location" required /><br />
UserType : 
<input ng-model="radiovalue" type="radio" name="check"  value="JobSeeker" > JobSeeker
<input ng-model="radiovalue" type="radio"  name="check" value="Employer"> Employer <br /> <br/>
<button  class="btn btn-primary"> SignUp? </button> 

</form> 

